<div class="form-inline mt-5">
  <div class="form-group ml-auto mr-3">
    <label for="inputPseudo" class="sr-only">Pseudo</label>
    <input [(ngModel)]="pseudo" type="text" class="form-control" id="inputPseudo" placeholder="Votre pseudo">
  </div>
  <button (click)="connect()" type="button" class="btn btn-primary mr-auto">Connexion</button>
</div>
