<div *ngFor="let message of messages">
  @{{message.author}}: {{message.text}}
</div>

<div class="input-group mb-3 fixed-bottom">
  <input [(ngModel)]="newText" type="text" class="form-control">
  <div class="input-group-append">
    <button (click)="createMessage()" class="btn btn-outline-secondary" type="button" id="button-addon2">Envoyer</button>
  </div>
</div>
