<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a (click)="changeChannel(channel)" class="list-group-item list-group-item-action" *ngFor="let channel of channels">
        {{channel.name}}
      </a>
    </div>
  </div>

  <div class="col">
    <app-channel></app-channel>
  </div>
</div>
